<div class="container">
  <h1>Catalogue de produit</h1>
  <table class="table table-striped">
    <thead>
          <th>Id</th>
          <th>Nom de produit</th>
          <th>Prix</th>
          <th>Image de produit</th>
          <th>Quantité</th>
          <th>Afficher les Détails</th>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
          <td>{{product.id}}</td>
          <td>{{product.name}}</td>
          <td>{{product.price}}</td>
          <td><img src="{{product.pictureUrl}}" alt="image de produit non trouvé" width="100" height="80"></td>
          <td>{{product.quantite}} &nbsp;
            <button class="btn btn-success btn-xs plus" (click)="ajouter(product.id)">+</button> &nbsp;
            <button class="btn btn-danger btn-xs minus" (click)="retirer(product.id)">-</button>
          </td>
        <td> <button class="btn btn-primary btn-sm" (click)="afficherDetail(product.id)">Détail</button> </td>
      </tr>
    </tbody>
    <tfoot>
    <tr>
      <td>Valeur panier :</td>
      <td colspan="6" class="text-right">{{total | currency: 'EUR' }}</td>
    </tr>
    </tfoot>
</table>

</div>


